extends layout

block content
  table(class=['table-striped', 'table'])
    thead
      tr
        th Key
        th Count
        th Min
        th Max
        th Distinct Values
    tbody
      each key in result
        tr
          td
            a(href='histogram/' + key.key)= key.key
          td= key.count
          td= key.min
          td= key.max
          td
            each val in key.distincts
              span "#{val}", 
