div.panel-group#accordion
  div(class=['panel', 'panel-default'])
    h1.panel-title
      a(href='#collapseOne', 'data-toggle'='collapse', 'data-parent'='#accordion')
        | Query: #{result.name}
  div(class=['panel-collapse', 'collapse'], id='collapseOne')
    div.panel-body
      | Code: #{result.query}

script(src='/javascripts/sorttable.js').

div Query result count: #{result.count}

if result.headers
  table(class=['table-striped', 'table', 'sortable'])
    thead
      tr
        each header in result.headers
          th= header
    tbody
      if result.res
        each entry in result.res
          tr
            each field in entry
              td= field
      else
        tr
          td(colspan="#{headers.length}") no results

  ul.pagination
    if result.page_num == 0
      li.disabled
        a(href='#') &laquo;
    else
      li
        a(href='?page_num=0&page_size=' + result.page_size) &laquo;

    - for(var i = result.page_num - 4; i < result.page_num; i++)
      - if (i > 0)
        li
          a(href='?page_num=' + i + '&page_size=' + result.page_size)= i
    li.active
      a(href='?page_num=' + result.page_num + '&page_size=' + result.page_size)= result.page_num
    - for(var i = result.page_num + 1; i <= result.page_num + 4; i++)
      - if (i <= result.last_page)
        li
          a(href='?page_num=' + i + '&page_size=' + result.page_size)= i

    if result.page_num == result.last_page
      li.disabled
        a(href='#') &raquo;
    else
      li
        a(href='?page_num=' + result.last_page + '&page_size=' + result.page_size) &raquo;
else
  div No headers for some reason 
