div.panel-group#accordion
  div(class=['panel', 'panel-default'])
    h1.panel-title
      a(href='#collapseOne', 'data-toggle'='collapse', 'data-parent'='#accordion')
        | Query: #{result.name}
  div(class=['panel-collapse', 'collapse'], id='collapseOne')
    div.panel-body
      | Code: #{result.code}

table.table-striped.table
  tr
    each header in result.headers
      th
        if result.order == header
          i= header
        else
          a(href='?order=' + header)= header
  each entry in result.res
    tr
      each field in entry
        td= field
