h1= Name
p Query #{result.name}
p Code #{result.code}

table.table-striped.table
  tr
    each header in result.headers
      th
        if result.order == header
          i= header
        else
          a(href='?order=' + header)= header
  each entry in result.res
    tr
      each field in entry
        td= field
